# Build results
**/bin/
**/obj/
**/out/
**/artifacts/

# Visual Studio / VS Code
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Cache
*.cache
*.db
*.pidb
*.svclog
*.pdb

# ASP.NET / Blazor
wwwroot/dist/
wwwroot/node_modules/

# Rider / JetBrains
.idea/
*.sln.iml

# Dotnet tools
.dotnet-tools/

# Coverage
coverage/
*.coverage
*.coveragexml

# Publish output
